prospectus*
!prospectus.bib
!prospectus.tex
presentation*
!scripts/presentation*
!presentation.bib
!presentation.tex
.snakemake/
Rplots.pdf
figures/*
!figures/montage.png
!figures/zenodo-black.pdf
!figures/github-small.pdf
!figures/rulegraph.pdf
